<!--contact start-->
<section class="contact" id="contact">
  <div class="container top-container">
    <div class="heading">
      <h2>Get In Touch</h2>
      <p>contact me to have a chat</p>
    </div>
  </div>
</section>
<section class="contact-details" id="contact-form">
  <div class="container">
    <!--contact info start-->
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <h4>Contact details</h4>
      <p>
        <i class="icon-location icon-lg"></i>&nbsp;
        Brooklyn, Wellington, New Zealand
      </p>
      <p>
        <i class="icon-phone icon-lg"></i>&nbsp;
        <a href="tel:+64220313927"
           class="js_track_link_click"
           itemscope="tel"
           aria-label="Telephone">+64 22 031 3927</a>
      </p>
      <p>
        <i class="icon-link icon-lg"></i>&nbsp;
        <a href="https://portfolio.ouq77.kiwi"
           target="_blank"
           rel="noopener noreferrer"
           class="js_track_link_click"
           itemscope="url"
           aria-label="Portfolio link">portfolio.ouq77.kiwi</a></p>
    </div>
    <!--contact info end-->
    <contact-form></contact-form>
  </div>
</section>
<!--contact end-->
