@import '../../../../assets/css/common';

//
// About me
// ========================================================================== //

.about {
  background: $iris-blue;
  color: $white;
  position: relative;

  @include container-heading();

  .container {
    .btn-normal {
      color: $whisper;
      background: $blue-zodiac;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 700;
      padding: 16px 22px;
      display: inline-block;
      margin-bottom: 15px;
      @include transition(all .2s ease-in-out);

      &:hover {
        color: $white;
        background: $cloud-burst;
        text-decoration: none;
      }

      @include respond-to($query: $breakpoint-992) {
        margin-bottom: 50px;
      }

      @include respond-to($query: $breakpoint-480) {
        font-size: 13px;
        padding: 16px 14px;
      }
    }

    .profile-pic {
      @include respond-to($query: $breakpoint-992) {
        text-align: center;
      }
      @include respond-to($query: $breakpoint-480) {
        min-height: 405px;
      }
      @include respond-to($query: $breakpoint-420) {
        min-height: 345px;
      }
      @include respond-to($query: $breakpoint-380) {
        min-height: 305px;
      }
      @include respond-to($query: $breakpoint-360) {
        min-height: 285px;
      }
      @include respond-to($query: $breakpoint-320) {
        min-height: 265px;
      }
      min-width: 295px;
      min-height: 295px;
      margin-top: 20px;
    }

    ul {
      padding-bottom: 2rem;
      padding-left: 2.5rem;
    }

    li > a {
      color: $white;
    }

    @include respond-to($query: $breakpoint-480) {
      img {
        width: 100%;
        height: 100%;
      }
    }

    @include respond-to($query: $breakpoint-810) {
      li a {
        line-height: 2.5;
        padding: 0.75em 0;
      }
    }
  }
}
