@import '../../../../assets/css/common';

//
// Google maps
// ========================================================================== //

.map-area {
  @include bg-image($image: 'map-bro.png', $repeat: repeat-x);
  padding-top: 4px;
  height: 65vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background-color: $google-maps-background;

  .map-in-view {
    display: inline;
  }

  @include respond-to($query: $breakpoint-480) {
    height: 45vh;
  }
}

#map-canvas {
  width: 100%;
  height: 100%;
}
